<!-- aside_form01.html -->
<div th:fragment="aside">
    <div id="aside-overlay" class="fixed inset-0 hidden z-50"></div>
    <div id="aside-modal" class="fixed top-0 left-0 hidden z-60 shadow-lg overflow-y-auto">
        <!-- 상단 박스 (로고, 사용자 메뉴, 닫기 버튼) -->
        <div class="bg-gray-200 w-full">
            <div class="container mx-auto py-4 relative flex justify-between items-center">
                <a href="/" class="block mx-auto text-center">
                    <img src="/img/icon/icon_MainLogo.png" alt="Main Logo" class="mx-auto" style="height: 80px;">
                </a>
                <button id="close-aside-button" class="text-gray-700 absolute right-4 top-4 text-4xl">&times;</button>
            </div>
            <div class="flex justify-center space-x-4 pb-4">
                <!-- 사용자 메뉴 텍스트 버튼들 -->
                <a href="/user/signup" class="text-gray-700 hover:text-blue-500" th:if="${not #authorization.expression('isAuthenticated()')}">회원 가입</a>
                <a th:href="@{/user/login}" class="text-gray-700 hover:text-blue-500" sec:authorize="isAnonymous()">로그인</a>
                <a href="/user/logout" class="text-gray-700 hover:text-blue-500" sec:authorize="isAuthenticated()">로그아웃</a>
                <a href="/question/list" class="text-gray-700 hover:text-blue-500">게시판</a>
                <a href="/wishlist" class="text-gray-700 hover:text-blue-500" sec:authorize="isAuthenticated()">위시리스트</a>
            </div>
        </div>

        <!-- 네비게이션 메뉴 -->
        <div class="px-4 py-8">
            <div th:replace="~{forms/dropDownMobile_form01.html :: mobileMenu}"></div>
        </div>

        <!-- 고객센터 -->
        <div class="px-4 pb-4">
            <div class="flex space-x-4">
                <a href="#"><img src="/img/icon/icon_Kakao.jpg" alt="Kakao" class="h-6 w-6"></a>
                <a href="#"><img src="/img/icon/icon_Youtube.jpg" alt="YouTube" class="h-6 w-6"></a>
                <a href="#"><img src="/img/icon/icon_Naver.jpg" alt="Naver Cafe" class="h-6 w-6"></a>
            </div>
        </div>
    </div>
</div>