<nav th:fragment="dropDown" class="nav-container hidden md:flex">
    <div class="dropdown">
        <a href="/products?firstCategory=외부관리" class="firstmenu-item">외부관리</a>
        <div class="dropdown-content">
            <div class="submenu">
                <a href="/products?firstCategory=외부관리&secondCategory=카샴푸세정제" class="secondmenu-item with-submenu">카샴푸/세정제</a>
                <div class="submenu-content">
                    <a href="/products?firstCategory=외부관리&secondCategory=카샴푸세정제&thirdCategory=카샴푸" class="thirdmenu-item">카샴푸</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=카샴푸세정제&thirdCategory=다목적세정제프리워시" class="thirdmenu-item">다목적세정제/프리워시</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=카샴푸세정제&thirdCategory=벌레타르물때제거" class="thirdmenu-item">벌레/타르/물때제거</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=카샴푸세정제&thirdCategory=탈지제" class="thirdmenu-item">탈지제</a>
                </div>
            </div>
            <div class="submenu">
                <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅" class="secondmenu-item with-submenu">왁스/실런트/코팅</a>
                <div class="submenu-content">
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=퀵디테일러물왁스" class="thirdmenu-item">퀵디테일러/물왁스</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=고체왁스" class="thirdmenu-item">고체왁스</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=크림형왁스실런트" class="thirdmenu-item">크림형왁스/실런트</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=유리막관리제" class="thirdmenu-item">유리막관리제</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=유리막코팅" class="thirdmenu-item">유리막코팅</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=글레이즈" class="thirdmenu-item">글레이즈</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=왁스실런트코팅&thirdCategory=습식코팅제" class="thirdmenu-item">습식코팅제</a>
                </div>
            </div>
            <a href="/products?firstCategory=외부관리&secondCategory=철분제거클레이" class="secondmenu-item">철분제거/클레이</a>
            <a href="/products?firstCategory=외부관리&secondCategory=플라스틱고무금속" class="secondmenu-item">플라스틱/고무/금속</a>
            <a href="/products?firstCategory=외부관리&secondCategory=페인트클렌저" class="secondmenu-item">페인트클렌저</a>
            <div class="submenu">
                <a href="/products?firstCategory=외부관리&secondCategory=유리관리" class="secondmenu-item with-submenu">유리관리</a>
                <div class="submenu-content">
                    <a href="/products?firstCategory=외부관리&secondCategory=유리관리&thirdCategory=유리세정제" class="thirdmenu-item">유리세정제</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=유리관리&thirdCategory=유막제거제" class="thirdmenu-item">유막제거제</a>
                    <a href="/products?firstCategory=외부관리&secondCategory=유리관리&thirdCategory=유리발수코팅제" class="thirdmenu-item">유리발수코팅제</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <a href="/products?firstCategory=내부관리" class="firstmenu-item">내부관리</a>
        <div class="dropdown-content">
            <a href="/products?firstCategory=내부관리&secondCategory=실내세정제" class="secondmenu-item">실내세정제</a>
            <a href="/products?firstCategory=내부관리&secondCategory=가죽관리" class="secondmenu-item">가죽관리</a>
            <a href="/products?firstCategory=내부관리&secondCategory=실내용드레싱" class="secondmenu-item">실내용 드레싱</a>
            <a href="/products?firstCategory=내부관리&secondCategory=방향제탈취제" class="secondmenu-item">방향제/탈취제</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="/products?firstCategory=휠타이어" class="firstmenu-item">휠&타이어</a>
        <div class="dropdown-content">
            <a href="/products?firstCategory=휠타이어&secondCategory=휠타이어클리너"  class="secondmenu-item">휠/타이어 클리너</a>
            <a href="/products?firstCategory=휠타이어&secondCategory=타이어트림왁스" class="secondmenu-item">타이어/트림 왁스</a>
            <a href="/products?firstCategory=휠타이어&secondCategory=휠코팅기타"  class="secondmenu-item">휠코팅/기타</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="/products?firstCategory=타월도구" class="firstmenu-item">타월&도구</a>
        <div class="dropdown-content">
            <div class="submenu">
                <a href="/products?firstCategory=타월도구&secondCategory=세차용타월" class="secondmenu-item with-submenu">세차용 타월</a>
                <div class="submenu-content">
                    <a href="/products?firstCategory=타월도구&secondCategory=세차용 타월&thirdCategory=드라잉타월" class="thirdmenu-item">드라잉 타월</a>
                    <a href="/products?firstCategory=타월도구&secondCategory=세차용 타월&thirdCategory=버핑다용도타월" class="thirdmenu-item">버핑/다용도 타월</a>
                    <a href="/products?firstCategory=타월도구&secondCategory=세차용 타월&thirdCategory=유리타월기타" class="thirdmenu-item">유리 타월/기타</a>
                    <a href="/products?firstCategory=타월도구&secondCategory=세차용 타월&thirdCategory=휠실내용타월" class="thirdmenu-item">휠/실내용 타월</a>
                </div>
            </div>
            <a href="/products?firstCategory=타월도구&secondCategory=워시미트패드" class="secondmenu-item">워시미트/패드</a>
            <div class="submenu">
                <a href="/products?firstCategory=타월도구&secondCategory=브러쉬" class="secondmenu-item with-submenu">브러쉬</a>
                <div class="submenu-content">
                    <a href="/products?firstCategory=타월도구&secondCategory=브러쉬&thirdCategory=디테일링브러쉬" class="thirdmenu-item">디테일링 브러쉬</a>
                    <a href="/products?firstCategory=타월도구&secondCategory=브러쉬&thirdCategory=휠전용브러쉬" class="thirdmenu-item">휠 전용 브러쉬</a>
                </div>
            </div>
            <a href="/products?firstCategory=타월도구&secondCategory=어플리케이터" class="secondmenu-item">어플리케이터</a>
            <a href="/products?firstCategory=타월도구&secondCategory=버킷액세서리" class="secondmenu-item">버킷/액세서리</a>
            <a href="/products?firstCategory=타월도구&secondCategory=폼랜스분무기" class="secondmenu-item">폼랜스/분무기</a>
            <a href="/products?firstCategory=타월도구&secondCategory=타월세정제" class="secondmenu-item">타월세정제</a>
            <a href="/products?firstCategory=타월도구&secondCategory=장갑기타" class="secondmenu-item">장갑/기타</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="/products?firstCategory=광택폴리싱" class="firstmenu-item">광택 폴리싱</a>
        <div class="dropdown-content">
            <a href="/products?firstCategory=광택폴리싱&secondCategory=폴리셔광택기" class="secondmenu-item">폴리셔/광택기</a>
            <a href="/products?firstCategory=광택폴리싱&secondCategory=광택용패드" class="secondmenu-item">광택용 패드</a>
            <a href="/products?firstCategory=광택폴리싱&secondCategory=컴파운드" class="secondmenu-item">컴파운드</a>
            <a href="/products?firstCategory=광택폴리싱&secondCategory=기타전자기기" class="secondmenu-item">기타 전자기기</a>
        </div>
    </div>
</nav>