<!-- 검색 결과 페이지용 페이지네이션 -->
<div th:fragment="pagination02" class="pagination-container">
    <ul class="pagination">
        <!-- 5페이지씩 앞으로 이동 -->
        <li th:classappend="${currentPage <= 4} ? 'disabled' : ''">
            <a th:href="@{/search(productName=${query}, page=${currentPage - 5 < 0 ? 0 : currentPage - 5}, size=${size})}"><<</a>
        </li>
        <!-- 한 페이지씩 앞으로 이동 -->
        <li th:classappend="${currentPage == 0} ? 'disabled' : ''">
            <a th:href="@{/search(productName=${query}, page=${currentPage - 1}, size=${size})}"><</a>
        </li>
        <!-- 페이지 번호 -->
        <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a th:href="@{/search(productName=${query}, page=${i}, size=${size})}"
               th:text="${i + 1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
        </li>
        <!-- 한 페이지씩 뒤로 이동 -->
        <li th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
            <a th:href="@{/search(productName=${query}, page=${currentPage + 1}, size=${size})}">></a>
        </li>
        <!-- 5페이지씩 뒤로 이동 -->
        <li th:classappend="${currentPage >= totalPages - 5} ? 'disabled' : ''">
            <a th:href="@{/search(productName=${query}, page=${currentPage + 5 >= totalPages ? totalPages - 1 : currentPage + 5}, size=${size})}">>></a>
        </li>
    </ul>
</div>
