<div th:fragment="Slide_form01" class="slider slider1">
    <div class="slides slides1">
        <div class="slide"><img src="img/background/carimg001.jpg" alt="사진이 없습니다."></div>
        <div class="slide"><img src="img/background/carimg002.jpg" alt="사진이 없습니다."></div>
        <div class="slide"><img src="img/background/carimg003.jpg" alt="사진이 없습니다."></div>
        <div class="slide"><img src="img/background/carimg004.jpg" alt="사진이 없습니다."></div>
        <!-- Add more slides as needed -->
    </div>
    <div class="navigation navigation1">
        <button class="prev prev1">&#10094;</button>
        <button class="next next1">&#10095;</button>
    </div>
    <div class="dots dots1">
        <span class="dot" data-slide="0"></span>
        <span class="dot" data-slide="1"></span>
        <span class="dot" data-slide="2"></span>
        <span class="dot" data-slide="3"></span>
        <!-- Add more dots corresponding to the slides -->
    </div>
</div>