<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" href="/css/adminaddproduct.css">
</head>
<body>
<div class="form-container">
    <h2>새 상품 추가</h2>
    <form th:action="@{/admin/products/add}" th:object="${product}" method="post">

        <div class="form-group">
            <label for="productId">상품 ID:</label>
            <input type="text" id="productId" th:field="*{productId}" required />
        </div>

        <div class="form-group">
            <label for="name">상품명:</label>
            <input type="text" id="name" th:field="*{productName}" required />
        </div>

        <div class="form-group">
            <label for="price">가격:</label>
            <input type="text" id="price" th:field="*{productPrice}" required />
        </div>

        <div class="form-group">
            <label for="registrationDate">등록일:</label>
            <input type="datetime-local" id="registrationDate" th:field="*{registrationDate}" required />
        </div>

        <div class="form-group">
            <label for="firstCategory">첫 번째 카테고리:</label>
            <input type="text" id="firstCategory" th:field="*{firstCategory}" />
        </div>

        <div class="form-group">
            <label for="secondCategory">두 번째 카테고리:</label>
            <input type="text" id="secondCategory" th:field="*{secondCategory}" />
        </div>

        <div class="form-group">
            <label for="thirdCategory">세 번째 카테고리:</label>
            <input type="text" id="thirdCategory" th:field="*{thirdCategory}" />
        </div>

        <div class="form-group">
            <label for="imgurl">이미지 URL:</label>
            <input type="text" id="imgurl" th:field="*{imgurl}" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">상품 추가</button>
        </div>
    </form>
</div>
</body>
</html>
