<!--메인 관리자 페이지-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.panel}">Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="sidebar">
    <div class="sidebar-header">
        <h2>Admin Panel</h2>
    </div>
    <!-- 대시보드로 돌아가는 버튼 추가 -->
    <a th:href="@{/admin}" class="nav-item"><i class="fas fa-tachometer-alt"></i> 대시보드</a>
    <a th:href="@{/admin/users}" class="nav-item"><i class="fas fa-users"></i> 유저 관리</a>
    <a th:href="@{/admin/products}" class="nav-item"><i class="fas fa-box-open"></i> 상품 관리</a>
</div>

<div class="main-content">
    <div th:if="${view == 'users'}">
        <div th:replace="admin/users :: content"></div>
    </div>

    <div th:if="${view == 'products'}">
        <div th:replace="admin/products :: content"></div>
    </div>

    <!-- 대시보드 페이지일 때만 차트를 보여줌 -->
    <div th:if="${view == 'dashboard'}">

        <!-- 총 접속자수 차트를 위한 캔버스 추가 -->
        <div>
            <canvas id="totalVisitorsChart"></canvas>
        </div>

        <script th:inline="javascript">
            document.addEventListener("DOMContentLoaded", function() {
                // Thymeleaf 변수를 JavaScript 변수에 할당
                var dailyLoginUsers = /*[[${dailyLoginUsers}]]*/ 0;
                var totalUsers = /*[[${totalUsers}]]*/ 0;

                // 콘솔에서 변수 값 확인
                console.log("Daily Login Users:", dailyLoginUsers);
                console.log("Total Users:", totalUsers);

                // 총 유저 수 차트
                var totalUsersCtx = document.getElementById('totalVisitorsChart').getContext('2d');
                var totalUsersChart = new Chart(totalUsersCtx, {
                    type: 'line',
                    data: {
                        labels: ['1주차', '2주차', '3주차', '4주차'],
                        datasets: [{
                            label: '총 유저 수',
                            data: [5,10,15,totalUsers],
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1,
                            fill: false,
                            tension: 0.1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                stepSize: 5,
                                suggestedMax: 20 // y축 최대값을 10으로 설정
                            }
                        }
                    }
                });
            });
        </script>

    </div>
</div>

<!-- Chart.js 라이브러리 추가 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>


