<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Management</title>
    <link rel="stylesheet" type="text/css" href="/css/adminproducts.css">
</head>
<body>
<div th:fragment="content">
    <h1>Product Management</h1>

    <!-- 상품 검색 폼 -->
    <form th:action="@{/admin/products/search}" method="get">
        <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
        <button type="submit">검색</button>
    </form>

    <!-- 상품 추가 버튼 -->
    <div class="action-bar">
        <a th:href="@{/admin/products/add}" class="btn btn-primary">새로운 상품 추가</a>
    </div>

    <table class="product-table">
        <thead>
        <tr>
            <th>상품 이미지</th>
            <th>상품 아이디</th>
            <th>상품명</th>
            <th>가격</th>
            <th>등록일</th>
            <th>First Category</th>
            <th>Second Category</th>
            <th>Third Category</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td><img th:src="${product.imgurl}" alt="Product Image" class="product-image"/></td>
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.registrationDate}"></td>
            <td th:text="${product.firstCategory}"></td>
            <td th:text="${product.secondCategory}"></td>
            <td th:text="${product.thirdCategory}"></td>
            <td>
                <a th:href="@{/admin/products/edit/{id}(id=${product.indexId})}" class="btn btn-warning">편집</a>
                <form th:action="@{/admin/products/delete/{id}(id=${product.indexId})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
