<!--유저 목록 조회 페이지-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="/css/adminusers.css">
</head>
<body>
<div th:fragment="content">
    <h2>유저 관리</h2>
    <table class="user-table">
        <thead>
        <tr>
            <th>유저명</th>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">
                    <button type="submit" class="btn-delete">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
