<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Products</title>
</head>
<body>
<header th:replace="header :: header"></header> <!-- 헤더 템플릿 포함 -->
<div>
    <h1>Search for Products</h1>
    <form action="/search" method="get">
        <input type="text" name="name" placeholder="Enter product name" required>
        <button type="submit">Search</button>
    </form>
</div>
<div id="searchResults">
    <ul>
        <li th:each="product : ${products}">
            <span th:text="${product.Product_name}"></span> -
            <span th:text="${product.Product_price}"></span>
        </li>
    </ul>
    <p th:if="${#lists.isEmpty(products)}">No products found</p>
</div>
</body>
</html>
