<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'검색결과 - ' + ${query}">Search Results</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/dropDown_form01.css">
    <link rel="stylesheet" href="/css/category_form01.css">
    <link rel="stylesheet" href="/css/pagination_form01.css">
    <link rel="stylesheet" href="/css/itemCount_form01.css">
    <link rel="stylesheet" href="/css/mobileMenu_form01.css">
</head>
<body class="bg-gray-100">

<!-- Header -->
<div th:replace="~{header/header.html :: header}"></div>

<main class="container mx-auto flex flex-col items-center justify-center min-h-screen text-center space-y-6">
    <!-- 경고 아이콘 -->
    <img src="/img/icon/icon_Warning.png" alt="Warning Icon" class="h-16 w-16">

    <!-- 메시지 제목 -->
    <h1 class="text-xl font-bold text-gray-800">검색결과가 없습니다.</h1>

    <!-- 설명 텍스트 -->
    <p class="text-base text-gray-600">정확한 검색어 인지 확인하시고 다시 검색해 주세요.</p>

    <!-- 세부 설명 리스트 -->
    <ul class="text-sm text-gray-600 space-y-1">
        <li>검색어/제외검색어의 입력이 정확한지 확인해 보세요.</li>
        <li>두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.</li>
    </ul>
</main>


<!-- Footer -->
<div th:replace="~{footer/footer.html :: footer}"></div>

<script src="/js/header.js"></script>
<script src="/js/dropDown_form01.js"></script>
<script src="/js/mobileMenu_form01.js"></script>

</body>
</html>
