<header class="header" th:fragment="header">
    <nav class="bg-white">
        <!-- 사용자 메뉴 텍스트 박스: 상단에 배치, PC에서만 보임 -->
        <div class="user-menu hidden md:flex justify-end w-full user-menu-text">
            <!-- 사용자 메뉴 텍스트 버튼들 -->
            <a href="/user/signup" class="text-gray-700 hover:text-blue-500" th:if="${not #authorization.expression('isAuthenticated()')}">회원 가입</a>
            <a th:href="@{/user/login}" class="text-gray-700 hover:text-blue-500" sec:authorize="isAnonymous()">로그인</a>
            <a href="/user/logout" class="text-gray-700 hover:text-blue-500" sec:authorize="isAuthenticated()">로그아웃</a>
            <a href="/question/list" class="text-gray-700 hover:text-blue-500">게시판</a>
            <a href="/wishlist" class="text-gray-700 hover:text-blue-500" sec:authorize="isAuthenticated()">위시리스트</a>
        </div>

        <!-- 로고, 네비게이션 메뉴, 사용자 아이콘 박스 -->
        <div class="header-main flex justify-between items-center mx-auto">
            <!-- 모바일 메뉴 아이콘: 작은 화면에서만 보임 -->
            <div class="header-mobile-menu-button md:hidden flex items-center">
                <a href="javascript:void(0);" id="mobile-menu-button" class="mobile-menu-button">
                    <img src="/img/icon/icon_MobileMenuButton.png" alt="MobileMenu Icon" class="h-6 w-6" style="background-color: transparent;">
                </a>
            </div>

            <!-- 로고 -->
            <div class="logo flex items-center">
                <a href="/" class="text-gray-700 hover:text-blue-500">
                    <img src="/img/icon/icon_MainLogo.png" alt="Main Logo" style="height: 90px;">
                </a>
            </div>

            <!-- 검색 아이콘: 작은 화면에서만 보임 -->
            <div class="search-icon-mobile md:hidden flex items-center">
                <a href="javascript:void(0);" id="search-icon-mobile" class="text-gray-700 hover:text-blue-500">
                    <img src="/img/icon/icon_Search.png" alt="Search Icon" class="h-6 w-6" style="background-color: transparent;">
                </a>
            </div>

            <!-- 네비게이션 메뉴 -->
            <div class="nav-menu flex items-center space-x-4">
                <div th:replace="~{forms/dropDown_form01.html :: dropDown}"></div>
            </div>

            <!-- 사용자 메뉴 아이콘 -->
            <div class="icon-menu flex items-center space-x-4">
                <a th:href="@{/user/login(targetUrl='/user/mypage')}" class="py-5 px-3 text-gray-700 hover:text-blue-500" sec:authorize="isAnonymous()">
                    <img class="h-6 w-6" src="/img/icon/icon_MyPage.png" alt="Profile Picture">
                </a>
                <a th:href="@{/user/mypage}" class="py-5 px-3" th:if="${#authorization.expression('isAuthenticated()')}">
                    <img class="h-6 w-6" src="/img/icon/icon_MyPage.png" alt="Profile Picture">
                </a>
                <a href="javascript:void(0);" id="search-icon-pc" class="py-5 px-3 text-gray-700 hover:text-blue-500">
                    <img src="/img/icon/icon_Search.png" alt="Search Icon" class="h-6 w-6" style="background-color: transparent;">
                </a>
                <a href="http://localhost:8080/cart" id="cart-icon" class="py-5 px-3 text-gray-700 hover:text-blue-500">
                    <img src="/img/icon/icon_Cart.png" alt="Cart Icon" class="h-6 w-6" style="background-color: transparent;">
                </a>
            </div>
        </div>
    </nav>
</header>