<header class="header" th:fragment="header">
    <nav  class="bg-white shadow-lg">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                    <!-- Logo -->
                    <div class="flex items-center space-x-0">
                        <a href="/" class="flex items-center p-0 text-gray-700 hover:text-blue-500">
                            <img src="/img/icon/icon_MainLogo.png" alt="Profile Picture" style="width: auto; height: 100px; object-fit: contain;">
                        </a>
                    </div>
                </div>

                <!-- Primary Navbar items -->
                <div class="hidden md:flex items-center space-x-1">
                    <div th:replace="~{forms/dropDown_form01.html :: dropDown}"></div>
                </div>

                <!-- Secondary Navbar items -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="/user/signup" class="py-5 px-3 text-gray-700 hover:text-blue-500" th:if="${not #authorization.expression('isAuthenticated()')}">회원 가입</a>
                    <a href="/user/login" class="py-5 px-3 text-gray-700 hover:text-blue-500" sec:authorize="isAnonymous()">로그인</a>
                    <a href="/user/logout" class="py-5 px-3 text-gray-700 hover:text-blue-500" sec:authorize="isAuthenticated()">로그아웃</a>
                    <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/user/mypage}" class="py-5 px-3">
                        <img class="w-8 h-8 shadow-lg" src="/img/icon/icon_Profile.png" alt="Profile Picture">
                    </a>
                    <a th:if="${not #authorization.expression('isAuthenticated()')}" href="/user/login" class="py-5 px-3 text-gray-700 hover:text-blue-500">
                        <img class="h-6 w-6" src="/img/icon/icon_Profile.png" alt="Profile Picture">
                    </a>
                    <a href="/question/list" class="py-5 px-3 text-gray-700 hover:text-blue-500">
                        <img class="h-6 w-6" src="/img/icon/icon_Board.png" alt="Profile Picture">
                    </a>
                    <!-- 검색 아이콘 -->
                    <a href="javascript:void(0);" id="search-icon" class="py-5 px-3 text-gray-700 hover:text-blue-500">
                        <img src="/img/icon/icon_Search.png" alt="Search Icon" class="h-6 w-6" style="background-color: transparent;">
                    </a>
                    <!-- 카트 아이콘 -->
                    <a href="http://localhost:8080/cart" id="cart-icon" class="py-5 px-3 text-gray-700 hover:text-blue-500">
                        <img src="/img/icon/icon_Cart.png" alt="Cart Icon" class="h-6 w-6" style="background-color: transparent;">
                    </a>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Mobile menu -->
        <div th:replace="~{forms/mobileMenu_form01.html :: mobileMenu}"></div>
    </nav>
</header>