<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{header/header :: header}"></div>
    <main class="container mx-auto px-4 py-16">
        <h1 class="text-4xl font-bold text-center mb-8">Welcome to Your Page</h1>
        <!-- 마이페이지 내용 추가 -->
    </main>
    <div th:replace="~{footer/footer :: footer}"></div>
</body>
</html>
