/* category_form01.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    gap: 16px;
    justify-content: start; /* 중앙 정렬을 기본으로 하되 마지막 행을 왼쪽 정렬 */
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 16px;
    text-align: center;
    margin-top: auto;
}

.product-info h3 {
    font-size: 12px;
    margin: 0 0 8px;
    color: #333;
    text-align: left;
}

.product-info .price {
    font-size: 12px;
    color: #007bff;
    font-weight: bold;
    text-align: left;
}

.product-info p {
    margin: 4px 0;
    color: #666;
    text-align: left;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

/* 상품이미지 마우스 호버시 애니메이션 및 WISH, ADD 링크 추가 */
.product-image-wrapper {
    position: relative;
}

.product-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    flex-direction: row; /* 수직 정렬에서 수평 정렬로 변경 */
}

.overlay .btn {
    margin: 0px 5px; /* 좌우 간격 설정 */
    padding: 10px 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.overlay .btn:hover {
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

.product-card:hover .overlay {
    opacity: 1;
}

.product-card:hover img {
    filter: brightness(0.7);
}

.product-card .overlay .btn {
    background: transparent;
    border: none;
    color: #f00;  /* 좋아요 버튼 색상 */
    font-size: 1.5rem; /* 적당한 크기 */
    cursor: pointer;
}
