.header {
    position: fixed; /* 화면 상단에 고정 */
    top: 0; /* 상단에 붙임 */
    left: 0; /* 좌측에 붙임 */
    width: 100%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소들보다 위에 위치하도록 */
}

.mobile-menu {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mobile-menu.hidden {
    display: none;
}
.mobile-menu a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #4a5568; /* Gray-700 */
}
.mobile-menu a:hover {
    color: #3182ce; /* Blue-500 */
}