/* modal_form02.css */
.modal {
    display: none; /* 처음에는 보이지 않도록 설정 */
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달이 가장 앞에 오도록 설정 */
}

.modal .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal .btn {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.modal .btn:hover {
    background-color: #555;
}

.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
