/* 모달 창 스타일 */
.modal {
    display: none; /* 처음에는 보이지 않도록 설정 */
    position: fixed;
    inset: 0;
    background-color: rgba(75, 85, 99, 0.5); /* Gray-600 with 50% opacity */
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}