.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-top: 100px; /* 위 여백 */
    margin-bottom: 20px; /* 아래 여백 */
}

.pagination li {
    margin: 0 4px;
}

.pagination a {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    color: #666; /* 기본 글자 색상 */
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #bbb; /* hover 시 배경 색상 */
    color: #fff;
}

.pagination .disabled a {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

.pagination a.active {
    background-color: #ccc; /* 선택된 페이지의 배경 색 */
    color: #333; /* 선택된 페이지의 텍스트 색 */
    cursor: default; /* 선택된 페이지는 클릭할 수 없도록 설정 */
    pointer-events: none; /* 선택된 페이지의 클릭 이벤트 비활성화 */
}
