<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${secondCategoryName} + ' - Car Detailing Shop'">Product Category - Car Detailing Shop</title>
	<link rel="stylesheet" href="/css/output.css">
	<link rel="stylesheet" href="/css/font_form01.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/category_form01.css">
	<link rel="stylesheet" href="/css/dropDown_form01.css">
	<link rel="stylesheet" href="/css/aside_form01.css">
	<link rel="stylesheet" href="/css/dropDownMobile_form01.css">
	<link rel="stylesheet" href="/css/pagination_form01.css">
	<link rel="stylesheet" href="/css/itemCount_form01.css">
	<link rel="stylesheet" href="/css/search_form01.css">
	<link rel="stylesheet" href="/css/modal_form01.css">
	<link rel="stylesheet" href="/css/modal_form02.css">
</head>
<body class="bg-gray-100">
<!-- 검색 모달 -->
<div th:replace="~{forms/search_form01.html :: searchProduct01}"></div>

<!-- 모바일메뉴 모달 -->
<div th:replace="~{forms/aside_form01.html :: aside}"></div>

<!-- Header -->
<div th:replace="~{header/header.html :: header}"></div>

<main class="container mx-auto px-4">
	<div class="text-center header-content">
		<h1 class="text-4xl font-bold text-blue-600 mb-8" th:text="${secondCategoryName}">Category</h1>
		<div th:replace="~{forms/itemCount_form01.html :: itemCount}"></div>
	</div>

	<div class="product-grid">
		<div th:each="infor : ${productsInfor}" class="product-card">
			<div class="product-image-container">
				<a th:href="@{/detail/{indexId}(indexId=${infor.indexId})}">
					<img th:src="${infor.imgurl}" alt="사진이 없습니다.">
				</a>
				<!-- 좋아요 카운트 -->
				<div class="likes-count">
					<span th:text="'♥ ' + ${likesCountMap[infor.indexId]}">♥ 0</span>
				</div>
				<div class="overlay">
					<form th:action="@{/product/like/{indexId}(indexId=${infor.indexId})}" method="post">
						<input type="hidden" name="redirectUrl" th:value="${currentUri}" />
						<button type="submit" class="btn" th:classappend="${infor.likeState ? 'WISHED' : ''}" th:text="${infor.likeState ? 'WISHED' : 'WISH'}"></button>
					</form>
					<form th:action="@{/cart/add/{indexId}(indexId=${infor.indexId})}" method="post" class="add-to-cart-form">
						<input type="hidden" name="cartCount" value="1"/>
						<input type="hidden" name="redirectUrl" th:value="${currentUri}"/>
						<button type="submit" class="btn">ADD</button>
					</form>
				</div>
			</div>
			<div class="product-info">
				<h3 th:text="${infor.productName}"></h3>
				<p class="price" th:text="${infor.formattedPrice}"></p>
			</div>
		</div>
	</div>

	<!-- 페이지네이션 삽입 -->
	<div th:replace="~{forms/pagination_form01.html :: pagination01}"></div>
</main>

<!-- Footer -->
<div th:replace="~{footer/footer.html :: footer}"></div>

<!-- 장바구니 모달 hidden 처리되어있음. -->
<div th:replace="~{forms/modal_form01.html :: cartModal}"></div>
<div th:replace="~{forms/modal_form02.html :: cartModalExist}"></div>

<script src="/js/header.js"></script>
<script src="/js/dropDown_form01.js"></script>
<script src="/js/search_form01.js"></script>
<script src="/js/modal_form01.js"></script>
<script src="/js/modal_form02.js"></script>
<script src="/js/category_form01.js"></script>
<script src="/js/category_form02.js"></script>
<script src="/js/aside_form01.js"></script>
<script src="/js/dropDownMobile_form01.js"></script>
</body>
</html>