<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>알림</title>
    <script type="text/javascript">
        window.onload = function() {
            var userConfirmed = confirm("[[${message}]]");
            if (userConfirmed) {
                window.location.href = "[[${urlYes}]]";  // 로그인 페이지로 이동
            } else {
                window.location.href = "[[${urlNo}]]";   // 이전 페이지로 돌아감
            }
        }
    </script>
</head>
<body>
<!-- 페이지가 로드되면 바로 리다이렉트되므로 내용은 필요하지 않음 -->
</body>
</html>